body{
	background: #ddd;
}

.ust h1{
 margin: 2px;
 padding: 2px;
 margin-left: 520px;
} 

.ust b{
margin-left: 605px;
font-size: 18px;
} 

.icerik{
	background: white;
	min-height: 200px;
	margin-top: 10px;
	margin-left: 25px;
	margin-right: 25px;
	padding: 10px;
}

.icerik h1{
	padding: 1px;
	margin: 1px;
}

.icerik p {
	font-size: 17px;
	font-family: consolas;
}

.footer{
	background: lightgrey;
	margin-top: 50px;
	padding: 25px;
	font-weight: bold;
	font-size: 12px;
	font-family:consolas;
}

.footer h1{
	background-color: darkred;
}
